{extend name="common/base2" /}

{block name="maincontent"}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small>新增会员</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-user"></i>  会员管理</a></li>
            <li class="active">新增会员</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">价格表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>套餐</th>
                                <th>费用</th>
                                <th>次数</th>
                                <th>赠送</th>
                            </tr>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
{/block}

{block name="script"}
{__block__}
<!--Morris.js charts-->
<!--<script src="__JS__/raphael.min.js"></script>-->
<!--<script src="__JS__/morris.min.js"></script>-->
<!--Sparkline-->
<script src="__JS__/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="__JS__/jquery-jvectormap-1.2.2.min.js"></script>
<script src="__JS__/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="__JS__/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="__JS__/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<!-- datepicker -->
<script src="__JS__/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="__JS__/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="__JS__/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="__JS__/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="__ADMJS__/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="__ADMJS__/dashboard.js"></script>-->
{/block}

